@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --bg: var(--color-white);
    --fg: var(--color-zinc-950);
    --body: var(--color-zinc-700);

    --primary: var(--color-blue-600);
    --primary-fg: var(--fg);

    --secondary: var(--color-zinc-100);
    --secondary-fg: var(--color-zinc-950);

    --overlay: var(--color-white);
    --overlay-fg: var(--color-zinc-950);

    --accent: var(--color-blue-600);
    --accent-fg: var(--fg);

    --muted: var(--color-zinc-100);
    --muted-fg: var(--color-zinc-600);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-emerald-700);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-500);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-700);

    --border: var(--color-zinc-200);
    --input: var(--color-zinc-300);
    --ring: var(--primary);
  }

  :root.dark {
    --bg: var(--color-zinc-950);
    --fg: var(--color-zinc-50);
    --body: var(--color-zinc-300);

    --primary: var(--color-blue-600);
    --primary-fg: var(--fg);

    --secondary: oklch(0.244 0.006 286.033);
    --secondary-fg: var(--color-zinc-50);

    --accent: var(--color-blue-600);
    --accent-fg: var(--fg);

    --muted: var(--color-zinc-900);
    --muted-fg: var(--color-zinc-400);

    --overlay: oklch(0.170 0.006 285.885);
    --overlay-fg: var(--color-zinc-50);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-emerald-500);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-300);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-500);

    --border: oklch(0.270 0.013 285.805);
    --input: oklch(0.290 0.013 285.805);
    --ring: var(--primary);
  }
}

@theme {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-body: var(--body);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --text-sm: 0.9rem;
}

@utility ease-bounce {
  --ease: cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-timing-function: var(--ease);
  animation-timing-function: var(--ease);
}

@utility prose {
  --tw-prose-body: var(--color-body) !important;
  --tw-prose-headings: var(--color-fg) !important;
  --tw-prose-lead: var(--color-muted-fg) !important;
  --tw-prose-links: var(--color-fg) !important;
  --tw-prose-bold: var(--color-fg) !important;
  --tw-prose-counters: var(--color-muted-fg) !important;
  --tw-prose-bullets: var(--color-muted-fg) !important;
  --tw-prose-hr: var(--color-border) !important;
  --tw-prose-quotes: var(--color-fg) !important;
  --tw-prose-quote-borders: var(--color-border) !important;
  --tw-prose-captions: var(--color-muted-fg) !important;
  --tw-prose-kbd: var(--color-fg) !important;
  --tw-prose-kbd-shadows: var(--tw-prose-kbd-shadows) !important;
  --tw-prose-code: var(--color-secondary-fg) !important;
  --tw-prose-pre-code: var(--color-secondary-fg) !important;
  --tw-prose-pre-bg: var(--color-muted) !important;
  --tw-prose-th-borders: var(--color-border) !important;
  --tw-prose-td-borders: var(--color-border) !important;

  pre {
    @apply rounded-xl my-0;
  }
}

@layer base {
  body {
    @apply bg-bg text-fg;
    font-family: "Figtree", sans-serif;
  }

  ::selection {
    color: var(--color-fg);
    background: color-mix(in oklab, var(--color-primary) 70%, transparent);
  }
}

.page-enter-active,
.page-leave-active {
  @apply transition-all ease-bounce duration-[400ms];
}

.page-enter-from,
.page-leave-to {
  translate: 0 0.5rem;
  opacity: 25%;
  @apply transition-all ease-in duration-[125ms];
}

@layer modal {
  [data-scope="dialog"] {
    &[data-part="backdrop"] {
      &:is([open], [data-open], [data-state="open"]) {
        animation: modal-backdrop-in 150ms;
        @apply ease-out;
      }
    }

    &[data-part="content"] {
      &:is([open], [data-open], [data-state="open"]) {
        animation: modal-content-in 250ms;
        @apply ease-bounce;
      }

      &:is([closed], [data-closed], [data-state="closed"]) {
        animation: modal-content-out 150ms;
        @apply ease-out;
      }
    }
  }

  @keyframes modal-backdrop-in {
    from {
      opacity: 0;
    }
  }

  @keyframes modal-backdrop-out {
    to {
      opacity: 0;
    }
  }

  @keyframes modal-content-in {
    from {
      opacity: 0;
      scale: 90%;
    }
  }

  @keyframes modal-content-out {
    to {
      opacity: 0;
      scale: 90%;
    }
  }
}
